.App {
  text-align: center;
}

h1{
  color:white;
}

h2{
  color:white;
}

h3{
  color:rgb(151, 151, 151);
}

h4{
  color:rgb(151, 151, 151);
  margin:auto;
  margin-top:10px;
  font-size:16px;
}

body{
  text-align: center;
}

.header_body{
  text-align: center;
  font-size:50px;
  font-weight: bold;
}

.button {
  margin: 2px 5px 20px 10px;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.button:hover {
  box-shadow: 0 2px 10px #2ab0ee;
  background-color: #2ab0ee;
  color: #ffffff !important;
}

.button_static{
  background-color: #3a4e57;
  margin: 6px 5px 20px 20px;
  padding:10px 50px;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.button_static:hover {
  box-shadow: 0 2px 10px #2ab0ee;
  background-color: #2ab0ee;
  color: #ffffff !important;
}

.main_container{
  width:auto;
  margin:auto;
}

/*iPhone XS*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    .main_container{
        width:375px;
    }
}

/*iPhone XS Max*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .main_container{
        width:414px;
    }
}

/*Desktop*/
@media (min-width: 450px) {
  .main_container{
      width:350px;
  }
}

@media (min-width: 900px) {
  .main_container{
      width:700px;
  }
}

@media (min-width: 1350px) {
  .main_container{
      width:1050px;
  }
}